
$background: #eaeced;

$title-fonte: 'Titillium Web','Helvetica','Arial','sans-serif';
$texto-font-family: 'Lato','Helvetica','Arial','sans-serif';
$global-font-size: 14.5px;
$global-line-height: 120%;

$container-largura: 600px;
$container-background: #fff;
$container-padding: 40px 0px 40px 0px;
$container-margin: 20px 0px 20px 0px;
$container-align: left;
$container-limit: 600px;
$container-box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
$container-border-radius: 3px;

$color-primary: #2199e8;
$color-secondary: #777777;
$color-success: #3adb76;
$color-warning: #ffae00;
$color-alert: #ec5840;
$color-link: #1678ea;

$h1-tamanho: 34px;
$h2-tamanho: 30px;
$h3-tamanho: 28px;
$h4-tamanho: 24px;
$h5-tamanho: 20px;
$h6-tamanho: 18px;

$btn-default-color: #1678ea;
$btn-default-fonte: 'Lato','Helvetica','Arial','sans-serif';
$btn-branco-fonte: 'Titillium Web','Helvetica','Arial','sans-serif';
$btn-margin: 30px 0px 30px 0px;
$btn-fora-margin: 50px 0px 50px 0px;
$btn-padding: (
	tiny: 4px 8px 4px 8px,
  	small: 5px 10px 5px 10px,
  	default: 8px 16px 8px 16px,
  	large: 10px 20px 10px 20px,
);
$btn-fonte-tamanho: (
	tiny: 10px,
  	small: 12px,
  	default: 16px,
  	large: 20px,
);

$content-padding: 30px 50px 0px 50px;
$first-content-padding: 0px 50px 0px 50px;



/* LOGO QISAT TOPO*/
table.max600{
	tr{
		td{
		    &.paddinglogotopo{
					padding-top: 40px;
					padding-bottom: 50px;
				}
		}
	} 
}


img.logo-topo{
	width: 193px; 
	height: 25px;
	display: block;
}

/* BLOCO CORES*/

td.color-block{
	width: 100px; 
	height: 100px;  
	margin-left: 5px;
	margin-right: 5px;
	border: 0.5px;
	border-style: double;
	border-color: #cacaca;
	max-width: 100px;
	display: inline-block;	
}

div.color-block{
	width: 75px; 
	height: 50px;
	display: inline-block;  
}	

.color-primary{
	background: $color-primary;
}

.color-secondary{
	background: $color-secondary;
}

.color-success{
	background: $color-success;
}

.color-warning{
	background: $color-warning;
}

.color-alert{
	background: $color-alert;
}



/* BOTOES cores/tipos*/

%btn-types-padrao{
	color:#fff; 
	text-decoration: none; 
	font-family: $btn-default-fonte; 
	font-size: map-get($btn-fonte-tamanho, default); 
	font-weight: bold; 
	border-radius:50px; 
	padding: map-get($btn-padding, default);
	text-align: center !important;
}

a{
	/* PRIMEIRO LINK TOPO */
	&.clique-aqui{
		text-decoration: none;
		font-size: x-small; 
		color: #666666; 
		font-family: 'Tahoma','Geneva','sans-serif';	
	}
	/*///////////////////*/

	&.secondary-button{
		background: $color-secondary;
  		border: 0px solid $color-secondary;
  		@extend %btn-types-padrao;
	}

	&.success-button{
		background: $color-success;
	  	border: 0px solid $color-success;
	  	@extend %btn-types-padrao; 
	}

	&.warning-button{
		background: $color-warning;
	  	border: 0px solid $color-warning;
	  	@extend %btn-types-padrao; 
	}

	&.alert-button{
		background: $color-alert;
	  	border: 0px solid $color-alert;
	  	@extend %btn-types-padrao; 
	}
}



/* BOTOES tamanhos*/

%btn-sizes-padrao{
  	background-color: $btn-default-color; 
	color:#fff; 
	text-decoration: none; 
	font-family: $btn-default-fonte;  
	font-weight: bold; 
	border-radius:50px;
	-webkit-border-radius: 50px; 
	-moz-border-radius: 50px; 		 
	text-align: center !important;
	width: auto;

}
a{

	&.tiny-button{
		padding: map-get($btn-padding, tiny);
		font-size: map-get($btn-fonte-tamanho, tiny);
		@extend %btn-sizes-padrao;
	}

	&.small-button{
		padding: map-get($btn-padding, small);
	  	font-size: map-get($btn-fonte-tamanho, small);
	  	@extend %btn-sizes-padrao;
	  	
	}

	&.default-button{
		padding: map-get($btn-padding, default);
		font-size: map-get($btn-fonte-tamanho, default);
		@extend %btn-sizes-padrao 
	} 

	&.large-button{
		padding: map-get($btn-padding, large);
		font-size: map-get($btn-fonte-tamanho, large);		
		@extend %btn-sizes-padrao;
	}
}



/* BOTAO FORA quero me inscrever fundo azul*/

a.inscrever-button{
	background-color:#24CFE0; 
	color:#fff;
	padding: 8px 16px 8px 16px;
	margin:0 auto; 
	border-radius:50px; 
	text-decoration: none;  
	font-family:'Titillium Web','Helvetica','Arial','sans-serif'; 
	font-weight: bold; 
	font-size:16px; 
	border:2px solid #24CFE0; 
	-moz-border-radius:30px; 
	-webkit-border-radius:30px; 
	border-radius:30px;
}



/* BOTAO FUNDO BRANCO tamanhos*/

%btn-branco-padrao{
	background-color:#FFF; 
	color:#24CFE0;
	border:2px solid #24CFE0; 
	margin:0 auto; 
	border-radius:50px; 
	text-decoration: none;  
	font-family: $btn-branco-fonte; 
	font-weight: bold;
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:30px; 	 		
}

a{
	&.btn-branco-large{
		@extend %btn-branco-padrao;
		padding:10px 20px 10px 20px;  
		font-size:20px; 
	}

	&.btn-branco-default{
		@extend %btn-branco-padrao;
		padding: 8px 16px 8px 16px;
		font-size:16px; 
	}

	&.btn-branco-small{
		@extend %btn-branco-padrao;
		padding: 5px 10px 5px 10px;
		font-size:12px; 
	}

	&.btn-branco-tiny{
		@extend %btn-branco-padrao;
		padding: 4px 8px 4px 8px;  
		font-size:10px;
	}

}


/* BOTAO FORA DO BLOCO default-button*/

table.btn-fora-margin{
	margin: $btn-fora-margin;
}



/* ALINHAMENTOS FLOAT*/

.float-center{
	margin: auto !important;
  	float: none !important;
  	text-align: center !important;
}

.float-left{
	text-align: left;
	float: left;
}

.float-right{
	text-align: right;
	float: right;
}

table.float-clear{
	clear: both;
}

td.float-blocks{
	border: 1px; 
	border-color: white; 
	border-style: solid; 
	background-color: #1678ea; 
	color: #fff; 
	padding: 10px 30px;
	font-size: 10px;
	display: inline-block;
}

.maxblock-teste{
	max-width: 100px;
}



/* TIPOGRAFIA titulos*/

%titles-padrao{
	font-family: $title-fonte; 
	padding-right: 50px;
	padding-left: 50px;
}

h1 {
  font-size: $h1-tamanho;
  @extend %titles-padrao;
}

h2 {
  font-size: $h2-tamanho;
  @extend %titles-padrao;
}

h3 {
  font-size: $h3-tamanho;
  @extend %titles-padrao;
}

h4 {
  font-size: $h4-tamanho;
  @extend %titles-padrao;
}

h5 {
  font-size: $h5-tamanho;
  @extend %titles-padrao;
}

h6 {
  font-size: $h6-tamanho;
  @extend %titles-padrao;
}


/*EBERICK, CP, INSCREVER - ultimos blocos*/

h3.eberick-title1{
	font-weight:600; 
	text-align: left;
	margin:{
		top:30px;   
		bottom:0;
	}	 
}

h3.investimento-preco,h3.eberick-title2{
	font-weight:600; 
	text-align: left; 
	margin-top:0px; 
	margin-bottom: 0;
}

p.eberick{
	text-align: justify; 
	margin-left: 50px; 
	margin-right: 50px; 
	margin-bottom: 30px;
}

span.eberick{
	color: #363F44; 
	font-size: 3; 
	font-family: $title-fonte; 
	line-height: 1.5;
}

span.investimento-title,span.cp-title,span.eberick-title2{
	color: #363F44; 
	font-family: $title-fonte; 
	font-size: 4;
}

span.eberick-title1{
	color:#24CFE0; 
	font-size: 3; 
	font-family: $title-fonte;
}

h3.investimento-title,h3.cp-title,h3.formato-title{
	font-weight:600; 
	text-align: left; 
	margin-top: 30px;   
	margin-bottom: 0;
}

h3.formato-title{
	font-family: $title-fonte; 
}

span.cp,.professores-texto-td{
	color: #363F44; 
	line-height: 1.5; 
	font-size: 3; 
	font-family: $texto-font-family;
}

span.investimento-rS{
	color:#24CFE0; 
	font-size: 6; 
	font-family: $texto-font-family;
}

span.investimento-preco{
	color:#24CFE0; 
	font-size:50px; 
	font-family: $texto-font-family;
}

span.investimento-adquirir{
	color: #363F44; 
	font-family: $texto-font-family; 
	font-size: 2;
}

h3.investimento-adquirir{
	font-weight: 600; 
	text-align: left; 
	margin-top:0px; 
	margin-bottom:30px; 
	text-transform: uppercase;
}

a.investimento-adquirir{
	text-decoration: none; 
	color: #363F44;
}

p strong.curso-validade{
	text-align: justify; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom:0px; 
	font-family: $texto-font-family; 
	font-size: default; 
	line-height: 1.5; 
	color: #363f44;
	padding-left: 5px;
}

/* PROFESSORES imagens e texto*/

img.professores{
	display: inline-block; 
	float: left;
	padding-right: 25px;
}

h3.professores2{
	font-weight:600; 
	text-align: left; 
	margin-top:30px; 
	margin-bottom:20px;
	font-family: $title-fonte;
	color: #363f44;
	font-size: 4;
}

p.professores2{
	text-align: justify; 
	margin-top: 5px; 
	margin-left: 50px; 
	margin-right: 50px;
	margin-bottom: 30px;
}

span.professores2{
	font-family: $texto-font-family;
	color: #363f44;
	line-height: 1.5;
	margin: 0px; 
}

img.professores2{
	display: inline-block; 
	margin: 10px 25px 0 0; 
	float: left;
	width: 100px;
	height: 100px;
}
td.professores2-title{
	color: #363F44; 
	font-size: 4; 
	font-family: $title-fonte;
}



/*LINK*/
a.link{
	font-family: $texto-font-family; 
	font-size: $global-font-size; 
	color: $color-link; 
	font-weight: bold;
}

/* GERAL*/

body {
	background: $background;
}

table{
    border-spacing: 0;
    border-collapse: none;
    border: none;
    text-align: center;
    margin : 0;
    padding: 0;
    margin: 0 auto;
}

p{
	font-family: $texto-font-family; 
	font-size: $global-font-size; 
	line-height: $global-line-height;
}

img{
	display: block;
	border: 0;
}

ul{
	list-style-type: none;
	padding-left: 50px;
}


/* GERAL classes*/

p.content{
	padding: $content-padding;
}

p.first-content{
	padding: $first-content-padding;
}

table.btn-margin{
	margin: $btn-margin;
}

img.none{
	display: none;
}

td.padding-bottom{
	padding-bottom: 40px;
}

.max600{
	max-width: $container-limit;
}

.full{
	width: 100%;
}

table.container-no-padding{
	background-color: $container-background; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	text-align: $container-align; 
	-moz-border-radius: $container-border-radius; 
	-webkit-border-radius: $container-border-radius; 
	border-radius: $container-border-radius; 
	-webkit-box-shadow: $container-box-shadow; 
	-moz-box-shadow: $container-box-shadow; 
	box-shadow: $container-box-shadow;
	width: $container-largura;
	margin: $container-margin;

	td.container-text-padding{
		padding: $container-padding;
	}
}
table.container{
	background-color: $container-background; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	text-align: $container-align; 
	-moz-border-radius: $container-border-radius; 
	-webkit-border-radius: $container-border-radius; 
	border-radius: $container-border-radius; 
	-webkit-box-shadow: $container-box-shadow; 
	-moz-box-shadow: $container-box-shadow; 
	box-shadow: $container-box-shadow;
	width: $container-largura;
	margin: $container-margin;
	padding: $container-padding;
}


.inline-block{
	display: inline-block;
}




/* RODAPE */

td.rodape-duvidas{
	font-family: 'Titillium Web','Helvetica','Arial','sans-serif';  
	font-size: 12px; 
	padding-bottom: 10px; /* CONFIRMA ESPAÇAMENTO */ 
	padding-top: 30px;
}
a.rodape-duvidas{
	font-family: $texto-font-family; 
	font-size: 12px; 
	color: #777;
}

td.icones{
	margin-top: 150px;
}

td.rodape-padding{
	padding: 0 40% 0 40%;
}

.rodape-logo-td{
	padding: 50px 0 28px 0; 
	margin-top: 150px;
}

.rodape-padding-px{
	padding: 0 600px 0 600px;
}

.rodape-logos{
	margin-top: 150px;
}

.rodape-duvida{
	padding: 20px 0 55px 10px; 
	font-size: 18px; 
	line-height: 22px; 
	font-family: $texto-font-family; 
	color: #666666;
}

.max500{
	max-width: 500px;
}
