            

            body{margin: 0; padding: 0;}

                .rodape{
                    padding: 20px 7.5px 20px 7.5px !important;
                    font-size: 14px !important;
                }
                .img-grande{
                    display: none !important;
                }
                .img-pequeno{
                    display: block !important;
                }
                .mobile-logo  {
                    margin: 0 auto !important;
                    padding: 25px 0 25px  0 !important;
                }
                @for $i from 1 through 18{
                    .container-#{$i}{width: 320px !important; font-size: 5px !important;}
                }    
                .container-img {
                    width: 320px !important;
                    font-size: 5px !important;
                }
                .padding-table {
                    padding: 10px 5% 10px 5% !important;
                    text-align: left !important;
                    font-size: 14px !important;
                }
                .mobile-largebutton{
                    padding: 16px 28px !important;
                    text-align: center !important;
                    font-size: 20px !important;
                }
                .mobile-button {
                    padding: 12px 20px !important;
                    text-align: center !important;
                    font-size: 16px !important;
                }
                .mobile-smallbutton{
                    padding: 8px 14px !important;
                    text-align: center !important;
                    font-size: 12px !important;
                }
                .mobile-tinybutton{
                    padding: 6px 10px !important;
                    text-align: center !important;
                    font-size: 10px !important;
                }
                .mobile-max,.container {
                    max-width: 320px !important;
                }
                .wrapper {
                    max-width: 240px !important;
                }
                .padding-copy {
                    padding: 10px 5% 10px 5% !important;
                    text-align: left;
                }
                .no-padding {
                    padding: 0 !important;
                }
                .section-padding {
                    padding: 30px 15px 50px 15px !important;
                }
                .section-padding1 {
                    padding: 35px 15px 5px 75px !important;
                }

                .fonte-mobile-cores{
                    font-size: 10px
                }  