@media screen and (max-width: 768px) {

    $container-largura: 320px !important;
    $container-limit: 320px !important;;
    $container-font-size: 5px !important;

    $btn-padding: (
        tiny: 6px 10px !important,
        small: 8px 14px !important,
        default: 12px 20px !important,
        large: 16px 28px !important,
    );
    $btn-font-size: (
        tiny: 10px !important,
        small: 12px !important,
        default: 16px !important,
        large: 20px !important,
    );


    body{margin: 0; padding: 0;} 

    .rodape{
        padding: 20px 7.5px 20px 7.5px !important;
        font-size: 14px !important;
    }

    .img-grande{
        display: none !important;
    }

    .img-pequeno{
        display: block !important;
    }

    .mobile-logo  {
        margin: 0 auto !important;
        padding: 25px 0 25px  0 !important;
    }

    .container,.container-no-padding{
        width: $container-largura; 
        font-size: $container-font-size;
    }    

    .container-img {
        width: $container-largura;
        font-size: $container-font-size;
    }

    .padding-table {
        padding: 10px 5% 10px 5% !important;
        text-align: left !important;
        font-size: 14px !important;
    }

    .mobile-largebutton{
        padding: map-get($btn-padding, large);
        text-align: center !important;
        font-size: map-get($btn-font-size, large);
    }

    .mobile-button {
        padding: map-get($btn-padding, default);
        text-align: center !important;
        font-size: map-get($btn-font-size, default);
    }

    .mobile-smallbutton{
        padding: map-get($btn-padding, small);
        text-align: center !important;
        font-size: map-get($btn-font-size, small);
    }

    .mobile-tinybutton{
        padding: map-get($btn-padding, tiny);
        text-align: center !important;
        font-size: map-get($btn-font-size, tiny);
    }

    .mobile-max,.container {
        max-width: $container-limit;
    }

    .wrapper {
        max-width: 240px !important;
    }

    .padding-copy {
        padding: 10px 5% 10px 5% !important;
        text-align: left;
    }

    .no-padding {
        padding: 0 !important;
    }

    .fonte-mobile-cores{
        font-size: 10px
    }

    img.professores2{
        display: inline-block !important; 
        margin: 5px 12.5px 0 0 !important; 
        float: left !important;
        width: 90px !important;
        height: 90px !important;
    }
    table.btn-margin{
        margin:{
            top: 20px !important;
            bottom: 20px !important;
        }
    }
}  