

 {
	font-family:'Titillium Web','Helvetica','Arial','sans-serif'; 
	font-size:18px; 
}

a.link{
	font-family:'Lato'; 
	font-size: 14.5px; 
	color: #1678ea; 
	font-weight: bold;
}

a.button{
	background-color:#1678ea; 
	color:#fff; 
	text-decoration: none; 
	font-family:'Lato','Helvetica','Arial','sans-serif'; 
	font-size:16px; 
	font-weight: bold; 
	border-radius:50px; 
	padding:12px 30px;
	text-align: center !important;
} 

h1{
	font-family:'Titillium Web'; 
	font-size: 26px; 
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}

h2{
	font-family:'Titillium Web'; 
	font-size: 20px; 
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}

p{
	font-family:'Lato'; 
	font-size: 14.5px; 
	line-height: 120%; 
}

p.content{
	padding: 30px 50px 0px 50px;
}

p.first-content{
	padding: 0px 50px 0px 50px;
}

p.button-padding{
	padding: 40px 50px 40px 50px;
}

span.whats{
	
}

table{

    border-spacing: 0;
    border-collapse: none;
    border: none;
    text-align: center;
    margin : 0;
    padding: 0;


}

a.clique-aqui{
	text-decoration:none;
	font-size: x-small; 
	color: #666666; 
	font-family: 'Tahoma','Geneva','sans-serif';
}

img.logo-topo{
	width: 193px; 
	height: 25px;
	display: block;
}

img{
	display: block;
}

img.professores{
	display: inline-block; 
	float: left;
	padding-right: 25px;
}

img.professores1{
	display: inline-block; 
	float: left;
}

img.none{
	display: none;
}

span.professores{
	font-family:'Lato'; 
	font-size: 14.5px; 
	line-height: 120%; 
}

td.padding-bottom{
	padding-bottom: 40px;
}

td.padding-top-bottom{
	padding-bottom: 40px;
	padding-top: 40px;
}

td.button-fora{
	padding-top: 50px; 
	padding-bottom: 75px;
}


.max600{
	max-width: 600px;
}

td.paddinglogotopo{
	padding-top: 40px;
	padding-bottom: 50px;
}

.text-table{
	background-color: #fff; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	margin:0px 0 30px 0; 
	text-align: left; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
}

table.eberick-img{
	background-color: #fff;  
	margin: 20px 0 0 0; text-align: left; 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px;
}

td.eberick-img{
	line-height: 21px; 
	color: #363F44;
}

h3.eberick-title1{
	font-weight:600; 
	text-align:left; 
	margin-top:30px; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom:0; 
}

h3.investimento-preco,h3.eberick-title2{
	font-weight:600; 
	text-align:left; 
	margin-top:0px; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom: 0;
}

p.eberick{
	text-align:justify; 
	margin-left: 50px; 
	margin-right:50px; 
	margin-bottom:30px;
}

span.eberick{
	color: #363F44; 
	font-size: 3; 
	font-family: 'Titillium Web', 'Helvetica','Arial','sans-serif'; 
	line-height: 1.5;
}

span.investimento-title,span.cp-title,span.eberick-title2{
	color: #363F44; 
	font-family: 'Titillium Web','Helvetica','Arial','sans-serif'; 
	font-size: 4;
}

span.eberick-title1{
	color:#24CFE0; 
	font-size: 3; 
	font-family:'Titillium Web','Helvetica','Arial','sans-serif'
}

h3.investimento-title,h3.cp-title,h3.formato-title{
	font-weight:600; 
	text-align:left; 
	margin-top:30px; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom: 0;
}

h3.formato-title{
	font-family: 'Titillium Web','Helvetica','Arial','sans-serif'; 
}

span.cp,.professores-texto-td,td.curso-validade{
	color: #363F44; 
	line-height: 1.5; 
	font-size: 3; 
	font-family: 'Lato','Helvetica','Arial','sans-serif';
}

ul{
	list-style-type: none;
	padding-left: 50px;
}

td.conhecer{
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px; 
	padding-bottom: 35px;
}

span.investimento-rS{
	color:#24CFE0; 
	font-size: 6; 
	font-family: 'Lato','Helvetica','Arial','sans-serif';
}

span.investimento-preco{
	color:#24CFE0; 
	font-size:50px; 
	font-family: 'Lato','Helvetica','Arial','sans-serif'
}

span.investimento-adquirir{
	color: #363F44; 
	font-family: 'Lato','Helvetica','Arial','sans-serif'; 
	font-size: 2;
}

h3.investimento-adquirir{
	font-weight: 600; 
	text-align: left; 
	margin-top:0px; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom:30px; 
	text-transform:uppercase;
}

a.investimento-adquirir{
	text-decoration:none; 
	color: #363F44;
}

.icones-table{
	background-color: #fff; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	margin: 30px 0 30px 0; text-align: center; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	padding-bottom: 25px; 
	padding-right: 40px
}

.professores-table{
	background-color: #fff; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	margin: 30px 0 30px 0; 
	text-align: center; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
}

table.curso-validade{
	background-color: #fff; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	text-align: left; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	margin: 0 0 30px 0; 
	padding:20px 0 20px 0; 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
}

.icones2-title-span,td.professores2-title{
	color: #363F44; 
	font-size: 4; 
	font-family: 'Titillium Web','Helvetica','Arial','sans-serif';
}

.icones2-imgs{
	padding: 20px 0 4px 0px;
}

td.icones2-padding{
	padding-left: 20px;
}

span.icones2{
	color:#363F44; 
	line-height:1.2; 
	font-size: 2; 
	font-family: 'Lato','Helvetica','Arial','sans-serif';
	text-align: center;
}

h3.professores2{
	font-weight:600; 
	text-align:left; 
	margin-top:30px; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom:20px;
	font-family: 'Titillium Web','Helvetica','Arial','sans-serif';
	color: #363f44;
	font-size: 4;
}

p.professores2{
	text-align:justify; 
	margin-top: 5px; 
	margin-left: 50px; 
	margin-right: 50px;
	margin-bottom: 30px;
}

span.professores2{
	font-family: 'Lato','Helvetica','Arial','sans-serif';
	color: #363f44;
	line-height: 1.5;
	margin: 0px; 
}

img.professores2{
	display:inline-block; 
	margin: 10px 25px 0 0; 
	float: left;
}

p.curso-validade{
	text-align:justify; 
	margin-left:50px; 
	margin-right:50px; 
	margin-bottom:0px; 
	font-family: 'Lato, Helvetica, Arial, sans-serif'; 
	font-size: 3; 
	line-height: 1.5; 
	color: #363f44;
}

.inscrever-table{
	margin-top: 60px; 
	padding:0px;
}

.inscrever-td{
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	border-radius:3px;
}

.inscrever-link{
	background-color:#24CFE0; 
	color:#fff; 
}

.conhecer-link{
	background-color:#FFF; 
	color:#24CFE0; 
}

.inscrever-link,.conhecer-link{
	padding:6px 40px; 
	margin:0 auto; 
	border-radius:50px; 
	text-decoration:none;  
	font-family:'Titillium Web','Helvetica','Arial','sans-serif'; 
	font-weight:bold; 
	font-size:18px; 
	border:2px solid #24CFE0;
}

table.rodape-logo{
	margin-top: 30px;
}

td.rodape-duvidas{
	font-family: 'Titillium Web','Helvetica','Arial','sans-serif';  
	font-size: 12px; 
	padding-bottom: 10px; /* COONFIRMA ESPAÇAMENTO  */ 
	padding-top: 30px;
}
a.rodape-duvidas{
	font-family:'Lato'; 
	font-size: 12px; 
	color:#777;
}

td.icones{
	margin-top: 150px;
}

td.rodape-padding{
	padding: 0 40% 0 40%;
}

.rodape-logo-td{
	padding: 50px 0 28px 0; 
	margin-top: 150px;
}

.rodape-padding-px{
	padding: 0 600px 0 600px;
}

.rodape-logos{
	margin-top: 150px;
}

.rodape-duvida{
	padding: 20px 0 55px 10px; 
	font-size: 18px; 
	line-height: 22px; 
	font-family: 'Lato', Helvetica, Arial, sans-serif; color: #666666;
}
.max500{
	max-width: 500px;
}


table.descadastrar{
	max-width: 225px;
	width: 225px;
	margin: 0 auto;
}