@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
  }

  .rodape {
    padding: 20px 7.5px 20px 7.5px !important;
    font-size: 14px !important;
  }

  .img-grande {
    display: none !important;
  }

  .img-pequeno {
    display: block !important;
  }

  .mobile-logo {
    margin: 0 auto !important;
    padding: 25px 0 25px  0 !important;
  }

  .container, .container-no-padding {
    width: 320px !important;
    font-size: 5px !important;
  }

  .container-img {
    width: 320px !important;
    font-size: 5px !important;
  }

  .padding-table {
    padding: 10px 5% 10px 5% !important;
    text-align: left !important;
    font-size: 14px !important;
  }

  .mobile-largebutton {
    padding: 16px 28px !important;
    text-align: center !important;
    font-size: 20px !important;
  }

  .mobile-button {
    padding: 12px 20px !important;
    text-align: center !important;
    font-size: 16px !important;
  }

  .mobile-smallbutton {
    padding: 8px 14px !important;
    text-align: center !important;
    font-size: 12px !important;
  }

  .mobile-tinybutton {
    padding: 6px 10px !important;
    text-align: center !important;
    font-size: 10px !important;
  }

  .mobile-max, .container {
    max-width: 320px !important;
  }

  .wrapper {
    max-width: 240px !important;
  }

  .padding-copy {
    padding: 10px 5% 10px 5% !important;
    text-align: left;
  }

  .no-padding {
    padding: 0 !important;
  }

  .fonte-mobile-cores {
    font-size: 10px;
  }

  img.professores2 {
    display: inline-block !important;
    margin: 5px 12.5px 0 0 !important;
    float: left !important;
    width: 90px !important;
    height: 90px !important;
  }

  table.btn-margin {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}
