td.padding-top-bottom{
	padding-bottom: 40px;
	padding-top: 40px;
}

.text-table{
	background-color: #fff; 
	border-right: 1px solid #EAECED; 
	border-left: 1px solid #EAECED; 
	margin:0px 0 30px 0; 
	text-align: left; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
	-webkit-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	-moz-box-shadow: 2px 2px 20px rgba(0,0,0,0.15); 
	box-shadow: 2px 2px 20px rgba(0,0,0,0.15);
}

p.first-content{
	padding: 0px 50px 0px 50px;
}

p.content{
	padding: 30px 50px 0px 50px;
}

.max600{
	max-width: 600px;
}

h2{
	font-family:'Titillium Web'; 
	font-size: 20px; 
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 20px;
}

p{
	font-family:'Lato'; 
	font-size: 14.5px; 
	line-height: 120%; 
}